# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS specific
.DS_Store

# Virtual environment
venv/
.env/
.venv/

# VS Code project settings
.vscode/

# Python distribution/packaging
build/
dist/
*.egg-info/

# Logs and temp files
*.log
*.tmp